.App {
    background-image: url(img/bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200%;
}

*{
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}